In [2]:
import sqlite3

conn = sqlite3.connect("DataBase Manager/gui/test.db")
script = "CREATE TABLE IF NOT EXISTS User(id INTEGER PRIMERY KEY, name TEXT)"
conn.execute(script)

In [4]:
script = "INSERT INTO User(id, name) VALUES (?,?)"
conn.execute(script, (1, "Tooraj"))
conn.execute(script, (2, "TOORAJ"))
conn.execute(script, (3, "Tootoo"))

In [5]:
script = "SELECT * FROM User"
get = conn.execute(script).fetchall()
print(*get)

(1, 'Tooraj') (2, 'TOORAJ') (3, 'Tootoo')

In [3]:
script = "CREATE TABLE IF NOT EXISTS Magic(id INTEGER PRIMERY KEY, name TEXT)"
conn.execute(script)

In [4]:
script = "INSERT INTO Magic(id, name) VALUES (?,?)"
conn.execute(script, (1, "Tooraj"))
conn.execute(script, (2, "TOORAJ"))
conn.execute(script, (3, "Tootoo"))

In [5]:
script = "SELECT * FROM Magic"
get = conn.execute(script).fetchall()
print(*get)

(1, 'Tooraj') (2, 'TOORAJ') (3, 'Tootoo')